// Event Component

.event {
  &__title {
    color: $black;
    font-family: $fontTitle;
    font-size: 2em;
    letter-spacing: 3px;
    text-align: center;
    @media screen and (width >= $device-md) {
      font-size: 3em;
    }
  }

  &__content {
    color: $black;
    font-family: $fontContent;
    font-size: 1.25em;
    text-align: center;
    @media screen and (width >= $device-md) {
      font-size: 1.75em;
    }
  }
}