// RSVPs Component

.rsvps {
  padding: 1em;
  @media screen and (width >= $device-lg) {
    grid-column: 2;
    grid-row: 2;
    padding: 2em;
  }
  @media screen and (width >= $device-xl) {
    padding-right: 4em;
    padding-left: 0;
  }
  @media screen and (width >= 1600px) {
    padding-right: 6em;
  }

  &__title {
    margin: 0 0 0.5em;
    color: $black;
    font-family: $fontTitle;
    font-size: 1.5em;
    letter-spacing: 3px;
    text-align: center;
    @media screen and (width >= $device-md) {
      font-size: 2em;
    }
  }

  &__content {
    color: $black;
    font-family: $fontContent;
    font-size: 1.25em;
    text-align: center;
    @media screen and (width >= $device-md) {
      font-size: 1.75em;
    }
  }

  // RSVPs Count

  &-count {
    text-align: center;

    &__content {
      margin: 0.5em auto;
      color: $black;
      font-family: $fontContent;
      font-size: 1em;

      &--attending {
        font-weight: 700;
      }
    }

    &__content:last-child {
      margin-bottom: 1.5em;
    }
  }

  // RSVPs List

  &-list {
    margin-bottom: 2em;
    padding: 1.5em 1em;
    background-color: $white;
    list-style: none;
    text-align: center;
    border-radius: 2em;
    box-shadow: 0px 0px 25px -5px $black;
    @media screen and (width >= $device-md) {
      padding: 2em;
      text-align: left;
    }
    @media screen and (width >= $device-lg) {
      margin-bottom: 4em;
    }

    &__item {
      margin: 4px 6px;
      color: $black;
      font-family: $fontTitle;
      font-size: 1em;
      @media screen and (width >= $device-md) {
        display: inline-block;
        width: calc(50% - 12px);
      }
    }
  }
}