// Colors

// Black
$black: #000000;

// White
$white: #ffffff;

// Gray
$grayDark: #555956;
$grayMedium: #929994;
$grayLight: #f6f7f8;


// Crimson
$crimson: #ed1c40;

// Green
$greenDark: #00381a;
$greenMedDark: #007938;
$greenMedium: #00af51;
$greenMedLight: #3abf78;
$greenLight: #abe4c5;